<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/layout">
<th:block layout:fragment="content">
    <link rel="stylesheet" href="/css/board.css">
    <div class="wrap board_detail_wr">
        <div class="w_1280">
            <nav class="breadcrumb">
                <ul class="brec_wr inb">
                    <li class="brec n1 home">
                        <a href="/">home</a> >
                    </li>
                    <li class="brec n2"><a href="/board_list">게시판</a> > </li>
                    <li class="brec n3">게시판 상세</li>
                </ul>
            </nav>
            <div class="container">
                <div class="user_box">
                    <div class="t_box">
                        <p class="user_id" th:text="${article.userId}">작성자</p>
                    </div>
                    <div class="b_box">
                        <p class="wt_time" th:text="${article.createdAt}">2024.11.04</p>
                        <div class="post_stats">
                            <div class="views"><span class="view_icon icon_box"></span><span th:text="${article.viewCount}">68</span></div>
                            <div class="likes"><span class="thumb_icon icon_box"></span><span th:text="${articleLikeCount}">1</span></div>
                        </div>
                    </div>
                </div>
                <h2 class="tit" th:text="${article.title}">글 제목 영역입니다.</h2>
                <div class="txt_box">
                    <p th:text="${article.content}">테스트 내용입니다.</p>
                </div>
                <div class="flex_box">
                    <div class="hash_box">
                        <span th:each="tag : ${article.hashtags}" th:text="${tag}">#해시태그</span>
                    </div>
                    <div class="btn_box">
                        <button type="button" class="thumb_icon"></button>
                        <span class="count_num" th:text="${articleLikeCount}">0</span>
                    </div>
                </div>
                <div th:if="${#authentication.name == article.userId}" class="user_btn_box">
                    <button type="button" class="del_btn">삭제</button>
                    <button type="button" class="edit_btn" onclick="location.href='/board_edit'">수정</button>
                </div>
                <div class="comment_box">
                    <div class="comment_inner">
                        <p class="count_box"><span class="count_num" th:text="${comments != null ? comments.size() : 0}">0</span>개의 댓글</p>
                        <div th:each="comment : ${comments}" class="cont">
                            <div class="l_box">
                                <div class="user_box">
                                    <p class="comment_user_id" th:text="${comment.users.nickName}">작성자</p>
                                    <p class="comment_date" th:text="${comment.createdAt}">2024.11.05</p>
                                </div>
                                <div class="com_txt_box">
                                    <p th:text="${comment.content}">댓글 내용</p>
                                </div>
                                <div th:if="${#authentication.name == comment.users.loginId}" class="btn_wr">
                                    <button class="edit_btn">수정</button> /
                                    <button class="del_btn">삭제</button>
                                </div>
                            </div>
                            <div class="r_box">
                                <button type="button" class="thumb_icon"></button>
                                <span class="count_num" th:text="${comment.likeCount}">0</span>
                            </div>
                        </div>
                    </div>
<!--                    <div class="cont wt_cont">-->
<!--                        <textarea placeholder="댓글을 작성해주세요." th:field="*{newComment.content}"></textarea>-->
<!--                        <button type="submit">댓글 쓰기</button>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>
