<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/layout">
<th:block layout:fragment="content">
    <link rel="stylesheet" href="/css/board.css">
    <div class="wrap board_detail_wr">
        <div class="w_1280">
            <div class="form_wr">
                <form th:action="@{/api/articles}" th:object="${addArticleRequest}" method="post" action="javascript:void(0)">
                    <!-- 카테고리 선택 -->
                    <div class="form_cont">
                        <label for="category">카테고리 선택</label>
                        <select id="category" th:field="${addArticleRequest.category}" class="input-field">
                            <option value="" disabled selected>카테고리 선택</option>
                            <option value="RESTAURANT">맛집</option>
                            <option value="TRAVEL_DESTINATION">여행지</option>
                            <option value="DATE_COURSE">데이트 코스</option>
                            <option value="WALKING_COURSE">산책 코스</option>
                        </select>
                    </div>

                    <!-- 작성자 지역 노출 -->
                    <div class="form_cont">
                        <span>지역</span>
                        <label for="upperLocation" class="dn">지역을 선택</label>
<!--                        <input type="text" id="region" class="input-field" placeholder="지역 입력" readonly th:text="${userLocation}">-->
                        <select id="upperLocation" name="upperLocation" onchange="updateLowerLocations()">
                            <option value="" disabled selected>지역을 선택하세요</option>
                            <th:block th:each="upperLocation : ${upperLocations}">
                                <option th:value="${upperLocation}" th:text="${upperLocation}"></option>
                            </th:block>
                        </select>

                        <label for="locationName" class="dn">상세 지역을 선택</label>
                        <select id="locationName" name="locationName" required>
                            <option value="" disabled selected>상세 지역을 선택하세요</option>
                            <th:block th:each="location : ${locations}">
                                <option th:text="${location.name}"></option>
                            </th:block>
                        </select>
                    </div>

                    <!-- 제목 작성 -->
                    <div class="form_cont">
                        <label for="title">제목 작성</label>
                        <input type="text" id="title" th:field="${addArticleRequest.title}" class="input-field" placeholder="제목 입력" required>
                    </div>

                    <!-- 해시 태그 작성 -->
                    <div class="form_cont">
                        <label for="hashtag">해시 태그 작성</label>
                        <input type="text" id="hashtag" th:field="${addArticleRequest.hashtagName}" class="input-field" placeholder="해시태그 입력" required>
                    </div>

                    <!-- 글 입력 -->
                    <div class="text-area-section">
                        <span>글 입력</span>
                        <textarea th:field="${addArticleRequest.content}" class="input-field" placeholder="내용을 입력하세요" required></textarea>
                    </div>

                    <!-- 버튼 영역 -->
                    <div class="btn_wr">
                        <button type="button" class="cancel_btn" onclick="location.href='/board_list'">취소하기</button>
                        <button type="submit" class="submit_btn">
                            <!-- 새글 작성 일 때 활성화-->
                            <span>작성하기</span>
                            <!-- 작성글 수정하기 일 때 활성화-->
                            <span class="dn">수정하기</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/js/common.js"></script>
</th:block>
</html>