<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/layout">
<th:block layout:fragment="content">
    <link rel="stylesheet" href="/css/member.css">
    <div class="wrap member">
        <div class="w_1280">
            <h1 class="tit">비밀번호 변경</h1>
            <section>
                <form id="changePasswordForm" method="POST" action="/change_pw">
                    <label for="currentPassword"></label>
                    <input type="password" id="currentPassword" name="currentPassword" th:if="${user != null}" required placeholder="현재 비밀번호">

                    <div id="passwordMessage"></div>
                    <label for="newPassword"></label>
                    <input type="password" id="newPassword" name="newPassword" required placeholder="변경할 비밀번호">

                    <div id="passwordMatchMessage"></div>
                    <label for="confirmPassword"></label>
                    <input type="password" id="confirmPassword" name="confirmPassword" required placeholder="변경할 비밀번호 확인">

                    <button type="submit" class="default_btn btn_layout change_btn">확인</button>
                </form>
            </section>
        </div>
    </div>
    <script th:if="${successMessage}" type="text/javascript">
        alert('비밀번호가 성공적으로 변경되었습니다.');
        window.location.href = '/mypage';
    </script>
    <script th:if="${errorMessage}" type="text/javascript">
        alert('현재 비밀번호가 일치하지 않습니다.');
    </script>
    <script src="/js/common.js"></script>
    <script src="/js/password_change.js"></script>
</th:block>
</html>