<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<th:block layout:fragment="content">
    <link rel="stylesheet" href="/css/member.css">
    <div class="wrap member">
        <div class="w_1280">
            <h1 class="tit">회원 정보 수정</h1>
            <section class="edit_profile">
                <form method="POST">
                    <label for="name">이름</label>
                    <input type="text" id="name" name="name" th:value="${user.name}" disabled>

                    <button type="button" onclick="window.location.href='/change_pw'"
                            class="reversal_btn pw_change_btn">비밀번호 변경하러가기
                    </button>

                    <!-- 닉네임 -->
                    <label for="nickname" class="label">닉네임</label>
                    <div id="nicknameCheckMessage" class="check-message"></div>
                    <div class="id_box">
                        <input type="text" id="nickname" name="nickname" th:value="${user.nickname}" required placeholder="닉네임">
                        <button type="button" onclick="checkNickname()" class="reversal_btn">중복 확인</button>
                    </div>

                    <!-- 이메일 -->
                    <label for="email" class="label">이메일</label>
                    <div id="emailCheckMessage" class="check-message"></div>
                    <div class="id_box">
                        <input type="email" id="email" name="email" th:value="${user.email}" required placeholder="이메일">
                        <button type="button" onclick="checkEmail()" class="reversal_btn">중복 확인</button>
                    </div>

                    <!--   Location의 Upper 별로 -->
                    <label for="upperLocation">지역</label>
                    <select id="upperLocation" name="upperLocation" onchange="updateLowerLocations()">
                        <option value="" disabled selected>거주하는 지역을 선택하세요</option>
                        <th:block th:each="upperLocation : ${upperLocations}">
                            <option th:value="${upperLocation}" th:text="${upperLocation}"
                                    th:selected="${user != null and originLocation != null and originLocation.upperLocation.name == upperLocation}"></option>
                        </th:block>
                    </select>

                    <label for="locationId"></label>
                    <select id="locationId" name="locationId" required>
                        <option value="" disabled selected>하위 지역을 선택하세요</option>
                        <th:block th:each="location : ${locations}">
                            <option th:value="${location.id}" th:text="${location.name}"
                                    th:selected="${user != null and originLocation != null and originLocation.id == location.id}"></option>
                        </th:block>
                    </select>

                    <div class="btn_box">
                        <button onclick="location.href='/'" class="reversal_btn">취소하기</button>
                        <button type="submit" class="save_btn default_btn">저장하기</button>
                    </div>
                    <div class="bot">
                        <button type="button" onclick="location.href='/withdrawal'" class="delete_btn">회원 탈퇴하기</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
    <script src="/js/common.js"></script>
    <script src="/js/edit_profile.js"></script>
</th:block>
</html>