<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<th:block layout:fragment="content">
    <link rel="stylesheet" href="/css/member.css">
    <div class="wrap member">
        <div class="w_1280">
            <h1 class="tit">비밀번호 찾기</h1>
            <section>
                <form action="/find_pw" method="POST">
                    <div class="top">
                        <label for="loginId"></label>
                        <input type="text" id="loginId" name="loginId" required placeholder="로그인아이디를 입력하세요">

                        <label for="passwordHint" style="display: none;">비밀번호 찾기용 질문</label>
                        <select id="passwordHint" name="passwordHint" required>
                            <option value="" disabled selected>질문을 선택하세요</option>
                            <th:block th:each="hint : ${passwordHints}">
                                <option th:value="${hint}" th:text="${hint.hintMessage}"></option>
                            </th:block>
                        </select>

                        <label for="passwordAnswer"></label>
                        <input type="text" id="passwordAnswer" name="passwordAnswer" required placeholder="답변을 입력하세요.">
                    </div>

                    <div class="btn_box">
                        <button type="button" onclick="window.location.href='/login'" class="reversal_btn">로그인하기
                        </button>
                        <!-- 에러 메시지 표시 -->
                        <input type="hidden" id="errorMessage" th:value="${errorMessage}"/>

                        <button type="submit" class="default_btn">확인</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
    <script src="/js/member.js"></script>
</th:block>
</html>