<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/layout">
<th:block layout:fragment="content">
    <link rel="stylesheet" href="/css/member.css">
    <div class="wrap member">
        <div class="w_1280">
            <h1 class="tit">회원가입</h1>
            <section>
                <form id="signupForm">
                    <label for="name"></label>
                    <input type="text" id="name" name="name" required placeholder="이름">

                    <div class="id_box">
                        <label for="id" class="dn"></label>
                        <input type="text" id="id" name="id" required placeholder="아이디">
                        <button type="button" onclick="checkId()" class="reversal_btn">중복확인</button>
                    </div>

                    <label for="password"></label>
                    <input type="password" id="password" name="password" required placeholder="비밀번호 입력">

                    <label for="confirmPassword"></label>
                    <input type="password" id="confirmPassword" name="confirmPassword" required placeholder="비밀번호 확인">

                    <label for="signupSecurityQuestion" style="display: none;">비밀번호 찾기용 질문</label>
                    <select class="securityQuestion" id="signupSecurityQuestion" name="securityQuestion" required>
                        <option value="" disabled selected>질문을 선택하세요</option>
                        <option value="어머니 성함">어머니 성함</option>
                        <option value="첫 애완동물 이름">첫 반려동물 이름</option>
                        <option value="초등학교 이름">초등학교 이름</option>
                    </select>

                    <label for="securityAnswer"></label>
                    <input type="text" id="securityAnswer" name="securityAnswer" required placeholder="답변 입력">

                    <label for="nickname"></label>
                    <input type="text" id="nickname" name="nickname" required placeholder="닉네임">

                    <label for="email"></label>
                    <input type="email" id="email" name="email" required placeholder="이메일">

                    <label for="location"></label>
                    <select id="location" name="location" required>
                        <option value="" disabled selected>거주하는 지역을 선택하세요</option>
                        <option value="서울">서울</option>
                        <option value="부산">부산</option>
                        <option value="대구">대구</option>
                        <option value="인천">인천</option>
                        <option value="광주">광주</option>
                        <option value="대전">대전</option>
                        <option value="울산">울산</option>
                    </select>

                    <div class="btn_box">
                        <button type="button" onclick="cancel()" class="reversal_btn">취소</button>
                        <button type="submit" class="default_btn">회원가입</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
    <script src="/js/member.js"></script>
</th:block>
</html>