<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="admin/layout/layout">
<body>
<th:block layout:fragment="content">
    <section>
        <h1>캘린더 승인 요청 수정</h1>
        <div class="btn_box">
            <a href="/admin/event/event_list">
                <button type="button" class="reversal_btn">목록으로</button>
            </a>
            <form th:action="@{/admin/event/{id}/approve(id=${event.id})}" method="post" th:if="${!event.isAccepted}">
                <button type="submit" class="default_btn" th:text="'승인하기'"></button>
            </form>

            <form th:action="@{/admin/event/{id}/cancel(id=${event.id})}" method="post" th:if="${event.isAccepted}">
                <button type="submit" class="default_btn" th:text="'승인 취소'"></button>
            </form>
        </div>
        <div class="info">
            <div class="info_item">
                <p class="info_label">작성자 ID</p>
                <span th:text="${event.usersId}"></span>
            </div>
            <div class="info_item">
                <p class="info_label">제목</p>
                <span th:text="${event.title}"></span>
            </div>
            <div class="info_item">
                <p class="info_label">신청 날짜</p>
                <span th:text="${event.dateTime}"></span>
            </div>
            <div class="info_item txt_item">
                <p class="info_label">내용</p>
                <p th:text="${event.content}"></p>
            </div>
        </div>
    </section>
</th:block>
</body>
</html>