footer{
    position: relative;
    background: rgb(25, 43, 59);
    color: #fff;
}

footer .inner{
    padding: 12rem 0;
    box-sizing: border-box;
}

.default_layout{
    display: flex;
    align-items: center;
    justify-content: space-between;
}