h1.tit{
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 4rem;
}

.top{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    display: block;
    margin-bottom: 1.5rem;
}

input:last-child{
    margin-bottom: 2.5rem;
}

input:focus{
    border: 1px solid rgba(0,133,249,1);
}

form{
    max-width: 50rem;
    margin: 0 auto;
}

.txt_box{
    margin: 2rem 0 3rem;
    text-align: center;
}

.txt_box span{
    font-size: 1.75rem;
    font-weight: 500;
}

.txt_box span:nth-child(2){
    margin: 0 1rem;
}

.btn_box{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 10rem;
}

.btn_box button{
    flex: 1;
}

select{
    width: 100%;
    padding: 1rem 3rem 1rem 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    box-sizing: border-box;
    font-size: 1.5rem;
    appearance: none;
    background-color: #fff;
    margin-bottom: 1.5rem;
    color: rgba(0, 0, 0, 0.6);
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23666" height="20" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
}

select:focus {
    border-color: rgba(0,133,249,1);
    outline: none;
    color: #000;
}

select.selected {
    color: #000;
}

select option:checked {
    color: #000;
}

.change_btn{
    margin-top: 10rem;
}

.find_box{
    text-align: right;
}

.find_box button:hover{
    font-weight: 500;
}

.find_box button.find_id_btn{
    position: relative;
    padding-right: 0.7rem;
    margin-right: 0.4rem;
}

.find_box button.find_id_btn:before{
    content: "";
    width: 1px;
    height: 70%;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.input_bot{
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.input_bot .txt_box{
    margin: 0;
    position: absolute;
    left: 0;
}

.input_bot .txt_box span{
    font-weight: normal;
    font-size: 1.5rem;
    color: red;
}