<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="admin/layout/layout">
<body>
<th:block layout:fragment="content">
    <section>
        <h1>게시글 목록</h1>
        <div class="top">
            <div class="search">
                <form action="" method="get">
                    <input type="text" name="keyword" placeholder="검색어를 입력하세요" class="search-input"/>
                    <button type="submit" class="search-button">검색</button>
                </form>
            </div>
            <div class="filter">
                <form action="" method="get">
                    <!-- 필터 내용은 작업자 분 편하신 대로 바꾸시면 됩니다. -->
                    <select>
                        <option value="">전체 목록</option>
                        <option value="">최신순</option>
                        <option value="">제목 오름차순</option>
                    </select>
                </form>
            </div>
        </div>
        <!-- 항목은 작업자 분 편하신 대로 바꾸시면 됩니다. -->
        <table>
            <thead>
            <tr>
                <th>No.</th>
                <th>제목</th>
                <th>지역</th>
                <th>회원 ID</th>
                <th>공개 여부</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>
                    <a href="/admin/board/board_edit">제목</a>
                </td>
                <td>지역</td>
                <td>회원ID</td>
                <td>공개 여부</td>
            </tr>
            </tbody>
        </table>
    </section>
</th:block>
</body>
</html>